<h1><%= t(:top_books).capitalize %></h1>

<div class="slider">
  <ul class="slides">
    <% @books.each do |book| %>
      <% present book do |book_presenter| %>
        <li>
          <%= book_presenter.image %>
          <div class="caption center-align">
            <h3><%= book_presenter.link %></h3>
            <h5 class="light grey-text text-lighten-3"><%= book_presenter.short_info %></h5>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>