<div class="row">
  <div class="col s12">
    <a href="<%= categories_path %>">
      <i class="zmdi zmdi-long-arrow-left"></i><%= t(:back).capitalize %>
    </a>
  </div>
</div>

<p id="notice"><%= notice %></p>

<div class="row">
  <% present @category do |category_presenter| %>
    <% (1..category_presenter.max_columns).each do |number| %>
      <div class="col s4"><%= category_presenter.column(number) %></div>
    <% end %>
  <% end %>
</div>